In [2]:
import pandas as pd

In [4]:
data=pd.read_csv('digitalanalytics.csv')

In [5]:
data

,id,time,created_at,from_user_name,text,filter_level,possibly_sensitive,withheld_copyright,withheld_scope,truncated,...,from_user_utcoffset,from_user_timezone,from_user_lang,from_user_tweetcount,from_user_followercount,from_user_friendcount,from_user_favourites_count,from_user_listed,from_user_withheld_scope,from_user_created_at
0,828531683381100544,1486372321,2017-02-06 09:12:01,AT_Internet,New video interview: Digital analytics & measu...,low,0.0,NaN,NaN,0,...,3600.0,Paris,en-gb,5307,4087,1144,390,515,NaN,2009-03-12 18:17:39
1,828536966031380481,1486373580,2017-02-06 09:33:00,AT_Internet_DE,"Mit Digital Analytics messen, wie effektiv Ihr...",low,0.0,NaN,NaN,0,...,3600.0,Bern,de,1204,365,321,292,138,NaN,2014-06-10 15:25:16
2,828540415360004096,1486374403,2017-02-06 09:46:43,ajmuguia,RT @Loui_Picard: Manage up with Digital Analyt...,low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,160225,2080,382,152309,5077,NaN,2015-04-21 11:20:10
3,828540731975401473,1486374478,2017-02-06 09:47:58,ajmuguia,RT @jose_garde: Manage up with Digital Analyti...,low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,160257,2080,382,152309,5088,NaN,2015-04-21 11:20:10
4,828540960443351041,1486374533,2017-02-06 09:48:53,ajmuguia,RT @JoanIratxeta: Manage up with Digital Analy...,low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,160275,2080,382,152318,5092,NaN,2015-04-21 11:20:10
5,828542296274661376,1486374851,2017-02-06 09:54:11,pascalrossini,Senior Digital Analytics Manager - - £70000 (+...,low,0.0,NaN,NaN,0,...,3600.0,Paris,fr,240712,5045,3655,364,395,NaN,2007-03-12 07:41:16
6,828544758989602816,1486375438,2017-02-06 10:03:58,MarketingJobs4U,"Senior Digital Analytics Manager - £70,000 (+1...",low,0.0,NaN,NaN,0,...,NaN,NaN,en,226092,970,9,0,249,NaN,2013-02-19 17:41:37
7,828553689140981760,1486377567,2017-02-06 10:39:27,guzogang,"Senior Digital Analytics Manager - £70,000 (+1...",low,0.0,NaN,NaN,0,...,NaN,NaN,en,362611,422,39,2,336,NaN,2009-05-30 22:48:12
8,828556421822312449,1486378219,2017-02-06 10:50:19,ShikhaBakshi,Fractal Analytics is hiring a Principal Consul...,low,0.0,NaN,NaN,0,...,NaN,NaN,en,379,684,63,2,24,NaN,2012-09-25 06:57:33
9,828559249773060096,1486378893,2017-02-06 11:01:33,DIMHouston,Test Your Mettle: Adobe Digital Analytics Comp...,low,0.0,NaN,NaN,0,...,-21600.0,Central Time (US & Canada),en,6889,7341,5666,869,152,NaN,2014-07-21 18:11:59
10,828565053674749952,1486380277,2017-02-06 11:24:37,Fernanrelenia,RT @Loui_Picard: Manage up with Digital Analyt...,low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,133545,1029,251,125374,1216,NaN,2015-07-23 20:04:01
11,828565322907131904,1486380341,2017-02-06 11:25:41,Fernanrelenia,RT @jose_garde: Manage up with Digital Analyti...,low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,133572,1029,251,125375,1216,NaN,2015-07-23 20:04:01
12,828565538926362624,1486380393,2017-02-06 11:26:33,Fernanrelenia,RT @JoanIratxeta: Manage up with Digital Analy...,low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,133590,1029,251,125393,1216,NaN,2015-07-23 20:04:01
13,828576889560109057,1486383099,2017-02-06 12:11:39,Optizent,Digital Analytics Speakers Required https://t....,low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,13335,995,1324,6,97,NaN,2009-03-13 05:15:28
14,828587896756174848,1486385723,2017-02-06 12:55:23,GonzaloGarde,RT @jose_garde: Manage up with Digital Analyti...,low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),es,159020,1882,678,153635,4869,NaN,2011-12-28 15:33:58
15,828588105867333632,1486385773,2017-02-06 12:56:13,GonzaloGarde,RT @JoanIratxeta: Manage up with Digital Analy...,low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),es,159038,1882,678,153635,4869,NaN,2011-12-28 15:33:58
16,828592894630096897,1486386915,2017-02-06 13:15:15,Jobs_Koeln_,🔍 Accenture sucht Beraterin / Berater Digital ...,low,0.0,NaN,NaN,0,...,NaN,NaN,de,44892,445,350,0,176,NaN,2016-03-20 21:47:03
17,828619425419030529,1486393240,2017-02-06 15:00:40,HeadHunterJames,Senior Analyst (Digital Analytics) - Rogers Co...,low,0.0,NaN,NaN,0,...,-21600.0,Central Time (US & Canada),en,835,110,102,9,9,NaN,2010-01-08 16:48:19
18,828623455239036929,1486394201,2017-02-06 15:16:41,tmj_aus_adv,Can you recommend anyone for this #job? Senior...,low,0.0,NaN,NaN,0,...,-18000.0,Eastern Time (US & Canada),en,84,820,195,0,335,NaN,2009-03-12 03:53:42
19,828644192503132161,1486399145,2017-02-06 16:39:05,FRreferencement,#STAGE #Bordeaux Stage - Consultant Technique ...,low,0.0,NaN,NaN,0,...,NaN,NaN,fr,7100,4321,5000,0,269,NaN,2012-12-23 12:45:22
20,828645687625707520,1486399502,2017-02-06 16:45:02,LesCommuniques,#STAGE #Bordeaux Stage - #Consultant Technique...,low,0.0,NaN,NaN,0,...,3600.0,Paris,fr,12160,25936,24348,0,741,NaN,2013-04-09 16:51:49
21,828645723738619905,1486399510,2017-02-06 16:45:10,capes_tunisie,#capestunisie https://t.co/HZp2EvtaxA #STAGE #...,low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),fr,653,16,127,0,1,NaN,2015-07-02 03:28:21
22,828655123018633216,1486401751,2017-02-06 17:22:31,Optizent,Senior Digital Analytics Specialist at Consume...,low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,13342,994,1324,6,97,NaN,2009-03-13 05:15:28
23,828655600334729216,1486401865,2017-02-06 17:24:25,main_roi,RT @FRreferencement: #STAGE #Bordeaux Stage - ...,low,0.0,NaN,NaN,0,...,NaN,NaN,fr,16891,181,18,457,38,NaN,2013-04-16 20:48:31
24,828660295165997056,1486402984,2017-02-06 17:43:04,nicolemleite,Digital Analytics Weekly Update is out! https:...,low,0.0,NaN,NaN,0,...,-28800.0,Tijuana,en,1485,473,406,87,99,NaN,2011-10-31 03:21:38
25,828664538157424641,1486403996,2017-02-06 17:59:56,TopTalentMatch,Wanted: Digital Analytics talents to bring in ...,low,0.0,NaN,NaN,0,...,-18000.0,Eastern Time (US & Canada),en,201,57,36,32,1,NaN,2009-12-19 14:21:27
26,828670925893664769,1486405519,2017-02-06 18:25:19,HoloMarkeD,@_robindickinson I think the argument is digit...,low,NaN,NaN,NaN,0,...,0.0,London,en,15242,3247,1530,2835,375,NaN,2007-11-08 11:03:30
27,828671243708665857,1486405595,2017-02-06 18:26:35,estortz,RT @DeVryCareers: Do you love data and digital...,low,NaN,NaN,NaN,0,...,-21600.0,Central Time (US & Canada),en,2083,303,385,86,14,NaN,2009-05-07 03:42:03
28,828674948960972800,1486406478,2017-02-06 18:41:18,EricP_Officiel,RT @LesCommuniques: #STAGE #Bordeaux Stage - #...,low,0.0,NaN,NaN,0,...,NaN,NaN,fr,1032,35,59,323,52,NaN,2016-04-24 02:17:44
29,828678402936803329,1486407302,2017-02-06 18:55:02,redcatandy,Head of Customer/Digital Analytics #job in #Lo...,low,0.0,NaN,NaN,0,...,NaN,NaN,en,391,108,319,27,156,NaN,2016-11-17 12:05:42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
411,831449532244205569,1487067990,2017-02-14 10:26:30,herbtheentspec,RT @BCCare: Got a burning ❤️ for analytics? Jo...,low,NaN,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,150371,8112,5476,5190,277,NaN,2008-11-04 12:16:54
412,831450973117743104,1487068334,2017-02-14 10:32:14,Stingraytwo,RT @BCCare: Got a burning ❤️ for analytics? Jo...,low,NaN,NaN,NaN,0,...,NaN,NaN,en,176397,1461,200,148548,1293,NaN,2009-12-21 11:34:21
413,831454062558208000,1487069070,2017-02-14 10:44:30,rajchatting0009,Circus Social partners with e27 for digital an...,low,NaN,NaN,NaN,0,...,28800.0,Singapore,en,21,2,22,3,0,NaN,2016-11-10 10:03:05
414,831454251159257088,1487069115,2017-02-14 10:45:15,SJS_US,"Manager, Digital Analytics Implementation, #Es...",low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,225442,107,0,0,129,NaN,2016-09-21 18:56:45
415,831455673632296962,1487069454,2017-02-14 10:50:54,Datafloq,RT @BCCare: Got a burning ❤️ for analytics? Jo...,low,NaN,NaN,NaN,0,...,3600.0,Amsterdam,nl,38678,28157,2379,30888,2675,NaN,2012-12-13 12:03:23
416,831455690447286272,1487069458,2017-02-14 10:50:58,EAGCOPS,RT @BCCare: Got a burning ❤️ for analytics? Jo...,low,NaN,NaN,NaN,0,...,0.0,Monrovia,en,25238,2658,3276,33204,1606,NaN,2014-08-20 06:58:40
417,831456209689509888,1487069582,2017-02-14 10:53:02,VanRijmenam,RT @BCCare: Got a burning ❤️ for analytics? Jo...,low,NaN,NaN,NaN,0,...,39600.0,Sydney,en,38799,12610,7054,13464,2598,NaN,2010-02-10 13:01:17
418,831460982866247681,1487070720,2017-02-14 11:12:00,desnicky,RT @BCCare: Got a burning ❤️ for analytics? Jo...,low,NaN,NaN,NaN,0,...,19800.0,New Delhi,en,4157,83,284,649,427,NaN,2009-07-26 10:17:22
419,831464316104822784,1487071515,2017-02-14 11:25:15,SJS_US,"Manager, Streaming and Digital Analytics, #Bur...",low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,225502,107,0,0,129,NaN,2016-09-21 18:56:45
420,831465534734626816,1487071806,2017-02-14 11:30:06,SJS_US,"Manager, Streaming and Digital Analytics, #San...",low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,225503,107,0,0,129,NaN,2016-09-21 18:56:45
421,831468031528288264,1487072401,2017-02-14 11:40:01,itsax_praktika,Praktikant/ Werkstudent (m/w) Digital Analytic...,low,0.0,NaN,NaN,0,...,3600.0,Berlin,de,8513,59,4,0,109,NaN,2011-01-06 14:54:19
422,831480708610846720,1487075423,2017-02-14 12:30:23,ReallyReally_Me,RT @BCCare: Got a burning ❤️ for analytics? Jo...,low,NaN,NaN,NaN,0,...,0.0,London,en,9564,589,195,247,249,NaN,2015-03-26 14:44:53
423,831481515641016320,1487075616,2017-02-14 12:33:36,Designerdock,#Job des Tages: Digital Analytics Consultant f...,low,0.0,NaN,NaN,0,...,3600.0,Berlin,de,6086,2348,633,239,188,NaN,2009-11-26 10:02:18
424,831956876845842434,1487188951,2017-02-15 20:02:31,kstansberry,Here for today's #prprofs chat on #fakenews. P...,low,NaN,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,1715,1145,1040,355,102,NaN,2008-04-23 03:28:50
425,831972424484675586,1487192657,2017-02-15 21:04:17,Optizent,"#measure Manager, Digital Analytics at MEC, Ne...",low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,13737,997,1323,6,97,NaN,2009-03-13 05:15:28
426,831974869709512709,1487193240,2017-02-15 21:14:00,MamzelleMNa,#Job La @LotNat_Belgique recherche les profil...,low,NaN,NaN,NaN,0,...,3600.0,Brussels,fr,13742,1275,415,14148,50,NaN,2013-01-25 12:12:08
427,831982316461363202,1487195016,2017-02-15 21:43:36,nicolemleite,Digital Analytics Weekly Update is out! https:...,low,0.0,NaN,NaN,0,...,-28800.0,Tijuana,en,1506,475,408,87,101,NaN,2011-10-31 03:21:38
428,832000216719097857,1487199284,2017-02-15 22:54:44,AnalyticsWebs,Digital analytics and business https://t.co/Gd...,low,1.0,NaN,NaN,0,...,-18000.0,Bogota,es,4,0,0,0,0,NaN,2017-02-10 14:34:13
429,832019329709273088,1487203841,2017-02-16 00:10:41,Optizent,Digital Analytics Speakers Required https://t....,low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,13742,997,1323,6,97,NaN,2009-03-13 05:15:28
430,832019800943640576,1487203953,2017-02-16 00:12:33,simple8job,RT @Optizent: Digital Analytics Speakers Requi...,low,0.0,NaN,NaN,0,...,NaN,NaN,en,144806,1223,2,141,3127,NaN,2013-08-29 01:21:07
431,832021024963182593,1487204245,2017-02-16 00:17:25,HedgeThink,RT @Ztrategistmag: #DataScience and Digital An...,low,0.0,NaN,NaN,0,...,0.0,London,en-gb,7627,7159,2418,776,569,NaN,2014-01-22 22:31:28
432,832031745994264577,1487206801,2017-02-16 01:00:01,Absolutdata,Investment is going bigger on #digital analyti...,low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,34637,4055,2028,490,2170,NaN,2009-06-22 04:02:05
433,832089198802804736,1487220499,2017-02-16 04:48:19,Optizent,Senior Digital Analytics Specialist at Consume...,low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,13753,997,1323,6,97,NaN,2009-03-13 05:15:28
434,832102708031025152,1487223719,2017-02-16 05:41:59,NablerWA,@DonBurgess_ Thanks for the follow. We are the...,low,0.0,NaN,NaN,0,...,19800.0,New Delhi,en,6998,1716,1405,362,760,NaN,2009-07-08 11:45:02
435,832102749495926784,1487223729,2017-02-16 05:42:09,NablerWA,@JoyceBosc Thanks for the follow. We are the D...,low,0.0,NaN,NaN,0,...,19800.0,New Delhi,en,6999,1716,1406,362,760,NaN,2009-07-08 11:45:02
436,832102789190807552,1487223739,2017-02-16 05:42:19,NablerWA,@jan_murray Thanks for the follow. We are the ...,low,0.0,NaN,NaN,0,...,19800.0,New Delhi,en,7000,1716,1407,362,760,NaN,2009-07-08 11:45:02
437,832102826696249346,1487223748,2017-02-16 05:42:28,NablerWA,@carolebozkurt Thanks for the follow. We are t...,low,0.0,NaN,NaN,0,...,19800.0,New Delhi,en,7001,1716,1408,362,760,NaN,2009-07-08 11:45:02
438,832102881079627778,1487223761,2017-02-16 05:42:41,NablerWA,@AliMirza2k Thanks for the follow. We are the ...,low,0.0,NaN,NaN,0,...,19800.0,New Delhi,en,7002,1716,1409,362,760,NaN,2009-07-08 11:45:02
439,832102919780519936,1487223770,2017-02-16 05:42:50,NablerWA,@lisadanforth1 Thanks for the follow. We are t...,low,0.0,NaN,NaN,0,...,19800.0,New Delhi,en,7003,1716,1410,362,760,NaN,2009-07-08 11:45:02
440,832120154708287488,1487227879,2017-02-16 06:51:19,Optizent,Explore A Career in Digital Analytics https://...,low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,13756,996,1323,6,97,NaN,2009-03-13 05:15:28

1. **Basic descriptives**

In [4]:
data.describe()

,id,time,possibly_sensitive,withheld_copyright,withheld_scope,truncated,retweet_count,favorite_count,in_reply_to_status_id,quoted_status_id,...,lng,from_user_id,from_user_verified,from_user_utcoffset,from_user_tweetcount,from_user_followercount,from_user_friendcount,from_user_favourites_count,from_user_listed,from_user_withheld_scope
count,4.410000e+02,4.410000e+02,409.000000,0.0,0.0,441.0,441.0,441.0,0.0,0.0,...,8.000000,4.410000e+02,441.000000,344.000000,4.410000e+02,441.000000,441.000000,441.000000,441.000000,0.0
mean,8.299928e+17,1.486721e+09,0.012225,NaN,NaN,0.0,0.0,0.0,NaN,NaN,...,33.280653,8.456917e+16,0.015873,-11569.186047,5.470849e+04,2883.167800,1755.482993,8715.498866,616.083900,NaN
std,9.688971e+14,2.310031e+05,0.110023,NaN,NaN,0.0,0.0,0.0,NaN,NaN,...,97.635795,2.425224e+17,0.125126,19229.104624,1.614955e+05,9178.667744,4063.098513,33973.951728,1146.656196,NaN
min,8.285317e+17,1.486372e+09,0.000000,NaN,NaN,0.0,0.0,0.0,NaN,NaN,...,-97.743057,9.947610e+05,0.000000,-36000.000000,3.000000e+00,0.000000,0.000000,0.000000,0.000000,NaN
25%,8.291964e+17,1.486531e+09,0.000000,NaN,NaN,0.0,0.0,0.0,NaN,NaN,...,-75.840582,2.941688e+07,0.000000,-28800.000000,2.896000e+03,445.000000,197.000000,6.000000,95.000000,NaN
50%,8.297821e+17,1.486670e+09,0.000000,NaN,NaN,0.0,0.0,0.0,NaN,NaN,...,103.867744,4.018025e+08,0.000000,-18000.000000,1.334800e+04,993.000000,1105.000000,37.000000,146.000000,NaN
75%,8.309157e+17,1.486941e+09,0.000000,NaN,NaN,0.0,0.0,0.0,NaN,NaN,...,103.867744,2.670613e+09,0.000000,3600.000000,3.425100e+04,2126.000000,1402.000000,490.000000,746.000000,NaN
max,8.321202e+17,1.487228e+09,1.000000,NaN,NaN,0.0,0.0,0.0,NaN,NaN,...,103.867744,8.300623e+17,1.000000,39600.000000,1.777822e+06,150934.000000,56658.000000,244927.000000,8052.000000,NaN

Description:

*How many tweets are there?* **441**

*What is the average number of friends and of followers that users tweeting about your topic have?* **friends mean = 1755.5; followers mean = 2883.2**

*What is the average number of retweets that each tweet got?* **0**

I think there should be a normal, simple way to call the needed description for whatever we need, how ever when I tried to do it (as below to answer the 2nd question), the result didn't seem ok. 

*What is the average number of friends and of followers that users tweeting about your topic have?*

In [17]:
data.groupby('from_user_friendcount').describe()

                      favorite_count                                     \
                               count mean  std  min  25%  50%  75%  max
from_user_friendcount
0                               11.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1                                4.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2                                2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3                                5.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4                                4.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
6                                5.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
7                                2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
8                                1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
9                                6.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
15                               1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
16                               1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
18                               4.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
21                               3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
22                               3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
23                               3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
25                               3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
26                               1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
28                               4.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
29                               2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
31                               1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
34                               1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
36                               1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
38                               2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
39                               1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
40                               3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
41                               3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
42                               1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
43                               1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
44                               1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
55                               1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
...                              ...  ...  ...  ...  ...  ...  ...  ...
4887                             1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
4897                             1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
4952                             1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
4958                             1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
4959                             1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
4996                             1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
5000                             2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5001                             2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5050                             1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
5436                             1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
5476                             1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
5539                             1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
5595                             1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
5666                             1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
5751                             1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
5946                             1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
6386                             1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
7054                             1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
7702                             1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
9182                             2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9196                             1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
11240                            1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
13834                            1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
14061                            1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
14604                            1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
17241                            1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
18315                            1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
24348                            1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
40179                            1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
56658                            1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0

                      from_user_favourites_count                ...  \
                                           count           mean ...
from_user_friendcount                                           ...
0                                           11.0       0.363636 ...
1                                            4.0       1.750000 ...
2                                            2.0      70.500000 ...
3                                            5.0       2.000000 ...
4                                            4.0       0.000000 ...
6                                            5.0       0.000000 ...
7                                            2.0       4.500000 ...
8                                            1.0       0.000000 ...
9                                            6.0       0.000000 ...
15                                           1.0       0.000000 ...
16                                           1.0       0.000000 ...
18                                           4.0     127.250000 ...
21                                           3.0       3.000000 ...
22                                           3.0       1.000000 ...
23                                           3.0       0.000000 ...
25                                           3.0       8.666667 ...
26                                           1.0       0.000000 ...
28                                           4.0       4.500000 ...
29                                           2.0     234.500000 ...
31                                           1.0      31.000000 ...
34                                           1.0    7387.000000 ...
36                                           1.0      32.000000 ...
38                                           2.0     327.000000 ...
39                                           1.0       2.000000 ...
40                                           3.0       8.666667 ...
41                                           3.0      10.666667 ...
42                                           1.0      13.000000 ...
43                                           1.0       0.000000 ...
44                                           1.0       1.000000 ...
55                                           1.0      37.000000 ...
...                                          ...            ... ...
4887                                         1.0     307.000000 ...
4897                                         1.0     349.000000 ...
4952                                         1.0    8657.000000 ...
4958                                         1.0     683.000000 ...
4959                                         1.0     682.000000 ...
4996                                         1.0    4337.000000 ...
5000                                         2.0     841.500000 ...
5001                                         2.0     841.500000 ...
5050                                         1.0    5535.000000 ...
5436                                         1.0   14108.000000 ...
5476                                         1.0    5190.000000 ...
5539                                         1.0    7181.000000 ...
5595                                         1.0     438.000000 ...
5666                                         1.0     869.000000 ...
5751                                         1.0     686.000000 ...
5946                                         1.0   14926.000000 ...
6386                                         1.0   10630.000000 ...
7054                                         1.0   13464.000000 ...
7702                                         1.0   29906.000000 ...
9182                                         2.0     393.000000 ...
9196                                         1.0   18698.000000 ...
11240                                        1.0       0.000000 ...
13834                                        1.0    3829.000000 ...
14061                                        1.0   12635.000000 ...
14604                                        1.0   19262.000000 ...
17241                                        1.0    3606.000000 ...
18315                                        1.0      43.000000 ...
24348                                        1.0       0.000000 ...
40179                                        1.0  244927.000000 ...
56658                                        1.0    4364.000000 ...

                      withheld_copyright     withheld_scope                   \
                                     75% max          count mean std min 25%
from_user_friendcount
0                                    NaN NaN            0.0  NaN NaN NaN NaN
1                                    NaN NaN            0.0  NaN NaN NaN NaN
2                                    NaN NaN            0.0  NaN NaN NaN NaN
3                                    NaN NaN            0.0  NaN NaN NaN NaN
4                                    NaN NaN            0.0  NaN NaN NaN NaN
6                                    NaN NaN            0.0  NaN NaN NaN NaN
7                                    NaN NaN            0.0  NaN NaN NaN NaN
8                                    NaN NaN            0.0  NaN NaN NaN NaN
9                                    NaN NaN            0.0  NaN NaN NaN NaN
15                                   NaN NaN            0.0  NaN NaN NaN NaN
16                                   NaN NaN            0.0  NaN NaN NaN NaN
18                                   NaN NaN            0.0  NaN NaN NaN NaN
21                                   NaN NaN            0.0  NaN NaN NaN NaN
22                                   NaN NaN            0.0  NaN NaN NaN NaN
23                                   NaN NaN            0.0  NaN NaN NaN NaN
25                                   NaN NaN            0.0  NaN NaN NaN NaN
26                                   NaN NaN            0.0  NaN NaN NaN NaN
28                                   NaN NaN            0.0  NaN NaN NaN NaN
29                                   NaN NaN            0.0  NaN NaN NaN NaN
31                                   NaN NaN            0.0  NaN NaN NaN NaN
34                                   NaN NaN            0.0  NaN NaN NaN NaN
36                                   NaN NaN            0.0  NaN NaN NaN NaN
38                                   NaN NaN            0.0  NaN NaN NaN NaN
39                                   NaN NaN            0.0  NaN NaN NaN NaN
40                                   NaN NaN            0.0  NaN NaN NaN NaN
41                                   NaN NaN            0.0  NaN NaN NaN NaN
42                                   NaN NaN            0.0  NaN NaN NaN NaN
43                                   NaN NaN            0.0  NaN NaN NaN NaN
44                                   NaN NaN            0.0  NaN NaN NaN NaN
55                                   NaN NaN            0.0  NaN NaN NaN NaN
...                                  ...  ..            ...  ...  ..  ..  ..
4887                                 NaN NaN            0.0  NaN NaN NaN NaN
4897                                 NaN NaN            0.0  NaN NaN NaN NaN
4952                                 NaN NaN            0.0  NaN NaN NaN NaN
4958                                 NaN NaN            0.0  NaN NaN NaN NaN
4959                                 NaN NaN            0.0  NaN NaN NaN NaN
4996                                 NaN NaN            0.0  NaN NaN NaN NaN
5000                                 NaN NaN            0.0  NaN NaN NaN NaN
5001                                 NaN NaN            0.0  NaN NaN NaN NaN
5050                                 NaN NaN            0.0  NaN NaN NaN NaN
5436                                 NaN NaN            0.0  NaN NaN NaN NaN
5476                                 NaN NaN            0.0  NaN NaN NaN NaN
5539                                 NaN NaN            0.0  NaN NaN NaN NaN
5595                                 NaN NaN            0.0  NaN NaN NaN NaN
5666                                 NaN NaN            0.0  NaN NaN NaN NaN
5751                                 NaN NaN            0.0  NaN NaN NaN NaN
5946                                 NaN NaN            0.0  NaN NaN NaN NaN
6386                                 NaN NaN            0.0  NaN NaN NaN NaN
7054                                 NaN NaN            0.0  NaN NaN NaN NaN
7702                                 NaN NaN            0.0  NaN NaN NaN NaN
9182                                 NaN NaN            0.0  NaN NaN NaN NaN
9196                                 NaN NaN            0.0  NaN NaN NaN NaN
11240                                NaN NaN            0.0  NaN NaN NaN NaN
13834                                NaN NaN            0.0  NaN NaN NaN NaN
14061                                NaN NaN            0.0  NaN NaN NaN NaN
14604                                NaN NaN            0.0  NaN NaN NaN NaN
17241                                NaN NaN            0.0  NaN NaN NaN NaN
18315                                NaN NaN            0.0  NaN NaN NaN NaN
24348                                NaN NaN            0.0  NaN NaN NaN NaN
40179                                NaN NaN            0.0  NaN NaN NaN NaN
56658                                NaN NaN            0.0  NaN NaN NaN NaN


                      50% 75% max
from_user_friendcount
0                     NaN NaN NaN
1                     NaN NaN NaN
2                     NaN NaN NaN
3                     NaN NaN NaN
4                     NaN NaN NaN
6                     NaN NaN NaN
7                     NaN NaN NaN
8                     NaN NaN NaN
9                     NaN NaN NaN
15                    NaN NaN NaN
16                    NaN NaN NaN
18                    NaN NaN NaN
21                    NaN NaN NaN
22                    NaN NaN NaN
23                    NaN NaN NaN
25                    NaN NaN NaN
26                    NaN NaN NaN
28                    NaN NaN NaN
29                    NaN NaN NaN
31                    NaN NaN NaN
34                    NaN NaN NaN
36                    NaN NaN NaN
38                    NaN NaN NaN
39                    NaN NaN NaN
40                    NaN NaN NaN
41                    NaN NaN NaN
42                    NaN NaN NaN
43                    NaN NaN NaN
44                    NaN NaN NaN
55                    NaN NaN NaN
...                    ..  ..  ..
4887                  NaN NaN NaN
4897                  NaN NaN NaN
4952                  NaN NaN NaN
4958                  NaN NaN NaN
4959                  NaN NaN NaN
4996                  NaN NaN NaN
5000                  NaN NaN NaN
5001                  NaN NaN NaN
5050                  NaN NaN NaN
5436                  NaN NaN NaN
5476                  NaN NaN NaN
5539                  NaN NaN NaN
5595                  NaN NaN NaN
5666                  NaN NaN NaN
5751                  NaN NaN NaN
5946                  NaN NaN NaN
6386                  NaN NaN NaN
7054                  NaN NaN NaN
7702                  NaN NaN NaN
9182                  NaN NaN NaN
9196                  NaN NaN NaN
11240                 NaN NaN NaN
13834                 NaN NaN NaN
14061                 NaN NaN NaN
14604                 NaN NaN NaN
17241                 NaN NaN NaN
18315                 NaN NaN NaN
24348                 NaN NaN NaN
40179                 NaN NaN NaN
56658                 NaN NaN NaN

[248 rows x 160 columns]

*How many tweets are there per language?*

In [10]:
data.groupby('from_user_lang').describe()

               favorite_count                                     \
                        count mean  std  min  25%  50%  75%  max
from_user_lang
de                       23.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
en                      374.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
en-gb                     3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
es                       17.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
fr                       16.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
it                        1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
ja                        1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
nl                        1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0
pt                        4.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
ro                        1.0  0.0  NaN  0.0  0.0  0.0  0.0  0.0

               from_user_favourites_count               ...  \
                                    count          mean ...
from_user_lang                                          ...
de                                   23.0     85.173913 ...
en                                  374.0   6539.066845 ...
en-gb                                 3.0    388.666667 ...
es                                   17.0  74545.941176 ...
fr                                   16.0   4327.875000 ...
it                                    1.0    250.000000 ...
ja                                    1.0      0.000000 ...
nl                                    1.0  30888.000000 ...
pt                                    4.0   6781.750000 ...
ro                                    1.0      7.000000 ...

               withheld_copyright     withheld_scope                           \
                              75% max          count mean std min 25% 50% 75%
from_user_lang
de                            NaN NaN            0.0  NaN NaN NaN NaN NaN NaN
en                            NaN NaN            0.0  NaN NaN NaN NaN NaN NaN
en-gb                         NaN NaN            0.0  NaN NaN NaN NaN NaN NaN
es                            NaN NaN            0.0  NaN NaN NaN NaN NaN NaN
fr                            NaN NaN            0.0  NaN NaN NaN NaN NaN NaN
it                            NaN NaN            0.0  NaN NaN NaN NaN NaN NaN
ja                            NaN NaN            0.0  NaN NaN NaN NaN NaN NaN
nl                            NaN NaN            0.0  NaN NaN NaN NaN NaN NaN
pt                            NaN NaN            0.0  NaN NaN NaN NaN NaN NaN
ro                            NaN NaN            0.0  NaN NaN NaN NaN NaN NaN


               max
from_user_lang
de             NaN
en             NaN
en-gb          NaN
es             NaN
fr             NaN
it             NaN
ja             NaN
nl             NaN
pt             NaN
ro             NaN

[10 rows x 168 columns]

 **Sentiment analysis**

In [6]:
pd.DataFrame(data)

,id,time,created_at,from_user_name,text,filter_level,possibly_sensitive,withheld_copyright,withheld_scope,truncated,...,from_user_utcoffset,from_user_timezone,from_user_lang,from_user_tweetcount,from_user_followercount,from_user_friendcount,from_user_favourites_count,from_user_listed,from_user_withheld_scope,from_user_created_at
0,828531683381100544,1486372321,2017-02-06 09:12:01,AT_Internet,New video interview: Digital analytics & measu...,low,0.0,NaN,NaN,0,...,3600.0,Paris,en-gb,5307,4087,1144,390,515,NaN,2009-03-12 18:17:39
1,828536966031380481,1486373580,2017-02-06 09:33:00,AT_Internet_DE,"Mit Digital Analytics messen, wie effektiv Ihr...",low,0.0,NaN,NaN,0,...,3600.0,Bern,de,1204,365,321,292,138,NaN,2014-06-10 15:25:16
2,828540415360004096,1486374403,2017-02-06 09:46:43,ajmuguia,RT @Loui_Picard: Manage up with Digital Analyt...,low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,160225,2080,382,152309,5077,NaN,2015-04-21 11:20:10
3,828540731975401473,1486374478,2017-02-06 09:47:58,ajmuguia,RT @jose_garde: Manage up with Digital Analyti...,low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,160257,2080,382,152309,5088,NaN,2015-04-21 11:20:10
4,828540960443351041,1486374533,2017-02-06 09:48:53,ajmuguia,RT @JoanIratxeta: Manage up with Digital Analy...,low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,160275,2080,382,152318,5092,NaN,2015-04-21 11:20:10
5,828542296274661376,1486374851,2017-02-06 09:54:11,pascalrossini,Senior Digital Analytics Manager - - £70000 (+...,low,0.0,NaN,NaN,0,...,3600.0,Paris,fr,240712,5045,3655,364,395,NaN,2007-03-12 07:41:16
6,828544758989602816,1486375438,2017-02-06 10:03:58,MarketingJobs4U,"Senior Digital Analytics Manager - £70,000 (+1...",low,0.0,NaN,NaN,0,...,NaN,NaN,en,226092,970,9,0,249,NaN,2013-02-19 17:41:37
7,828553689140981760,1486377567,2017-02-06 10:39:27,guzogang,"Senior Digital Analytics Manager - £70,000 (+1...",low,0.0,NaN,NaN,0,...,NaN,NaN,en,362611,422,39,2,336,NaN,2009-05-30 22:48:12
8,828556421822312449,1486378219,2017-02-06 10:50:19,ShikhaBakshi,Fractal Analytics is hiring a Principal Consul...,low,0.0,NaN,NaN,0,...,NaN,NaN,en,379,684,63,2,24,NaN,2012-09-25 06:57:33
9,828559249773060096,1486378893,2017-02-06 11:01:33,DIMHouston,Test Your Mettle: Adobe Digital Analytics Comp...,low,0.0,NaN,NaN,0,...,-21600.0,Central Time (US & Canada),en,6889,7341,5666,869,152,NaN,2014-07-21 18:11:59
10,828565053674749952,1486380277,2017-02-06 11:24:37,Fernanrelenia,RT @Loui_Picard: Manage up with Digital Analyt...,low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,133545,1029,251,125374,1216,NaN,2015-07-23 20:04:01
11,828565322907131904,1486380341,2017-02-06 11:25:41,Fernanrelenia,RT @jose_garde: Manage up with Digital Analyti...,low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,133572,1029,251,125375,1216,NaN,2015-07-23 20:04:01
12,828565538926362624,1486380393,2017-02-06 11:26:33,Fernanrelenia,RT @JoanIratxeta: Manage up with Digital Analy...,low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,133590,1029,251,125393,1216,NaN,2015-07-23 20:04:01
13,828576889560109057,1486383099,2017-02-06 12:11:39,Optizent,Digital Analytics Speakers Required https://t....,low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,13335,995,1324,6,97,NaN,2009-03-13 05:15:28
14,828587896756174848,1486385723,2017-02-06 12:55:23,GonzaloGarde,RT @jose_garde: Manage up with Digital Analyti...,low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),es,159020,1882,678,153635,4869,NaN,2011-12-28 15:33:58
15,828588105867333632,1486385773,2017-02-06 12:56:13,GonzaloGarde,RT @JoanIratxeta: Manage up with Digital Analy...,low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),es,159038,1882,678,153635,4869,NaN,2011-12-28 15:33:58
16,828592894630096897,1486386915,2017-02-06 13:15:15,Jobs_Koeln_,🔍 Accenture sucht Beraterin / Berater Digital ...,low,0.0,NaN,NaN,0,...,NaN,NaN,de,44892,445,350,0,176,NaN,2016-03-20 21:47:03
17,828619425419030529,1486393240,2017-02-06 15:00:40,HeadHunterJames,Senior Analyst (Digital Analytics) - Rogers Co...,low,0.0,NaN,NaN,0,...,-21600.0,Central Time (US & Canada),en,835,110,102,9,9,NaN,2010-01-08 16:48:19
18,828623455239036929,1486394201,2017-02-06 15:16:41,tmj_aus_adv,Can you recommend anyone for this #job? Senior...,low,0.0,NaN,NaN,0,...,-18000.0,Eastern Time (US & Canada),en,84,820,195,0,335,NaN,2009-03-12 03:53:42
19,828644192503132161,1486399145,2017-02-06 16:39:05,FRreferencement,#STAGE #Bordeaux Stage - Consultant Technique ...,low,0.0,NaN,NaN,0,...,NaN,NaN,fr,7100,4321,5000,0,269,NaN,2012-12-23 12:45:22
20,828645687625707520,1486399502,2017-02-06 16:45:02,LesCommuniques,#STAGE #Bordeaux Stage - #Consultant Technique...,low,0.0,NaN,NaN,0,...,3600.0,Paris,fr,12160,25936,24348,0,741,NaN,2013-04-09 16:51:49
21,828645723738619905,1486399510,2017-02-06 16:45:10,capes_tunisie,#capestunisie https://t.co/HZp2EvtaxA #STAGE #...,low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),fr,653,16,127,0,1,NaN,2015-07-02 03:28:21
22,828655123018633216,1486401751,2017-02-06 17:22:31,Optizent,Senior Digital Analytics Specialist at Consume...,low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,13342,994,1324,6,97,NaN,2009-03-13 05:15:28
23,828655600334729216,1486401865,2017-02-06 17:24:25,main_roi,RT @FRreferencement: #STAGE #Bordeaux Stage - ...,low,0.0,NaN,NaN,0,...,NaN,NaN,fr,16891,181,18,457,38,NaN,2013-04-16 20:48:31
24,828660295165997056,1486402984,2017-02-06 17:43:04,nicolemleite,Digital Analytics Weekly Update is out! https:...,low,0.0,NaN,NaN,0,...,-28800.0,Tijuana,en,1485,473,406,87,99,NaN,2011-10-31 03:21:38
25,828664538157424641,1486403996,2017-02-06 17:59:56,TopTalentMatch,Wanted: Digital Analytics talents to bring in ...,low,0.0,NaN,NaN,0,...,-18000.0,Eastern Time (US & Canada),en,201,57,36,32,1,NaN,2009-12-19 14:21:27
26,828670925893664769,1486405519,2017-02-06 18:25:19,HoloMarkeD,@_robindickinson I think the argument is digit...,low,NaN,NaN,NaN,0,...,0.0,London,en,15242,3247,1530,2835,375,NaN,2007-11-08 11:03:30
27,828671243708665857,1486405595,2017-02-06 18:26:35,estortz,RT @DeVryCareers: Do you love data and digital...,low,NaN,NaN,NaN,0,...,-21600.0,Central Time (US & Canada),en,2083,303,385,86,14,NaN,2009-05-07 03:42:03
28,828674948960972800,1486406478,2017-02-06 18:41:18,EricP_Officiel,RT @LesCommuniques: #STAGE #Bordeaux Stage - #...,low,0.0,NaN,NaN,0,...,NaN,NaN,fr,1032,35,59,323,52,NaN,2016-04-24 02:17:44
29,828678402936803329,1486407302,2017-02-06 18:55:02,redcatandy,Head of Customer/Digital Analytics #job in #Lo...,low,0.0,NaN,NaN,0,...,NaN,NaN,en,391,108,319,27,156,NaN,2016-11-17 12:05:42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
411,831449532244205569,1487067990,2017-02-14 10:26:30,herbtheentspec,RT @BCCare: Got a burning ❤️ for analytics? Jo...,low,NaN,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,150371,8112,5476,5190,277,NaN,2008-11-04 12:16:54
412,831450973117743104,1487068334,2017-02-14 10:32:14,Stingraytwo,RT @BCCare: Got a burning ❤️ for analytics? Jo...,low,NaN,NaN,NaN,0,...,NaN,NaN,en,176397,1461,200,148548,1293,NaN,2009-12-21 11:34:21
413,831454062558208000,1487069070,2017-02-14 10:44:30,rajchatting0009,Circus Social partners with e27 for digital an...,low,NaN,NaN,NaN,0,...,28800.0,Singapore,en,21,2,22,3,0,NaN,2016-11-10 10:03:05
414,831454251159257088,1487069115,2017-02-14 10:45:15,SJS_US,"Manager, Digital Analytics Implementation, #Es...",low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,225442,107,0,0,129,NaN,2016-09-21 18:56:45
415,831455673632296962,1487069454,2017-02-14 10:50:54,Datafloq,RT @BCCare: Got a burning ❤️ for analytics? Jo...,low,NaN,NaN,NaN,0,...,3600.0,Amsterdam,nl,38678,28157,2379,30888,2675,NaN,2012-12-13 12:03:23
416,831455690447286272,1487069458,2017-02-14 10:50:58,EAGCOPS,RT @BCCare: Got a burning ❤️ for analytics? Jo...,low,NaN,NaN,NaN,0,...,0.0,Monrovia,en,25238,2658,3276,33204,1606,NaN,2014-08-20 06:58:40
417,831456209689509888,1487069582,2017-02-14 10:53:02,VanRijmenam,RT @BCCare: Got a burning ❤️ for analytics? Jo...,low,NaN,NaN,NaN,0,...,39600.0,Sydney,en,38799,12610,7054,13464,2598,NaN,2010-02-10 13:01:17
418,831460982866247681,1487070720,2017-02-14 11:12:00,desnicky,RT @BCCare: Got a burning ❤️ for analytics? Jo...,low,NaN,NaN,NaN,0,...,19800.0,New Delhi,en,4157,83,284,649,427,NaN,2009-07-26 10:17:22
419,831464316104822784,1487071515,2017-02-14 11:25:15,SJS_US,"Manager, Streaming and Digital Analytics, #Bur...",low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,225502,107,0,0,129,NaN,2016-09-21 18:56:45
420,831465534734626816,1487071806,2017-02-14 11:30:06,SJS_US,"Manager, Streaming and Digital Analytics, #San...",low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,225503,107,0,0,129,NaN,2016-09-21 18:56:45
421,831468031528288264,1487072401,2017-02-14 11:40:01,itsax_praktika,Praktikant/ Werkstudent (m/w) Digital Analytic...,low,0.0,NaN,NaN,0,...,3600.0,Berlin,de,8513,59,4,0,109,NaN,2011-01-06 14:54:19
422,831480708610846720,1487075423,2017-02-14 12:30:23,ReallyReally_Me,RT @BCCare: Got a burning ❤️ for analytics? Jo...,low,NaN,NaN,NaN,0,...,0.0,London,en,9564,589,195,247,249,NaN,2015-03-26 14:44:53
423,831481515641016320,1487075616,2017-02-14 12:33:36,Designerdock,#Job des Tages: Digital Analytics Consultant f...,low,0.0,NaN,NaN,0,...,3600.0,Berlin,de,6086,2348,633,239,188,NaN,2009-11-26 10:02:18
424,831956876845842434,1487188951,2017-02-15 20:02:31,kstansberry,Here for today's #prprofs chat on #fakenews. P...,low,NaN,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,1715,1145,1040,355,102,NaN,2008-04-23 03:28:50
425,831972424484675586,1487192657,2017-02-15 21:04:17,Optizent,"#measure Manager, Digital Analytics at MEC, Ne...",low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,13737,997,1323,6,97,NaN,2009-03-13 05:15:28
426,831974869709512709,1487193240,2017-02-15 21:14:00,MamzelleMNa,#Job La @LotNat_Belgique recherche les profil...,low,NaN,NaN,NaN,0,...,3600.0,Brussels,fr,13742,1275,415,14148,50,NaN,2013-01-25 12:12:08
427,831982316461363202,1487195016,2017-02-15 21:43:36,nicolemleite,Digital Analytics Weekly Update is out! https:...,low,0.0,NaN,NaN,0,...,-28800.0,Tijuana,en,1506,475,408,87,101,NaN,2011-10-31 03:21:38
428,832000216719097857,1487199284,2017-02-15 22:54:44,AnalyticsWebs,Digital analytics and business https://t.co/Gd...,low,1.0,NaN,NaN,0,...,-18000.0,Bogota,es,4,0,0,0,0,NaN,2017-02-10 14:34:13
429,832019329709273088,1487203841,2017-02-16 00:10:41,Optizent,Digital Analytics Speakers Required https://t....,low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,13742,997,1323,6,97,NaN,2009-03-13 05:15:28
430,832019800943640576,1487203953,2017-02-16 00:12:33,simple8job,RT @Optizent: Digital Analytics Speakers Requi...,low,0.0,NaN,NaN,0,...,NaN,NaN,en,144806,1223,2,141,3127,NaN,2013-08-29 01:21:07
431,832021024963182593,1487204245,2017-02-16 00:17:25,HedgeThink,RT @Ztrategistmag: #DataScience and Digital An...,low,0.0,NaN,NaN,0,...,0.0,London,en-gb,7627,7159,2418,776,569,NaN,2014-01-22 22:31:28
432,832031745994264577,1487206801,2017-02-16 01:00:01,Absolutdata,Investment is going bigger on #digital analyti...,low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,34637,4055,2028,490,2170,NaN,2009-06-22 04:02:05
433,832089198802804736,1487220499,2017-02-16 04:48:19,Optizent,Senior Digital Analytics Specialist at Consume...,low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,13753,997,1323,6,97,NaN,2009-03-13 05:15:28
434,832102708031025152,1487223719,2017-02-16 05:41:59,NablerWA,@DonBurgess_ Thanks for the follow. We are the...,low,0.0,NaN,NaN,0,...,19800.0,New Delhi,en,6998,1716,1405,362,760,NaN,2009-07-08 11:45:02
435,832102749495926784,1487223729,2017-02-16 05:42:09,NablerWA,@JoyceBosc Thanks for the follow. We are the D...,low,0.0,NaN,NaN,0,...,19800.0,New Delhi,en,6999,1716,1406,362,760,NaN,2009-07-08 11:45:02
436,832102789190807552,1487223739,2017-02-16 05:42:19,NablerWA,@jan_murray Thanks for the follow. We are the ...,low,0.0,NaN,NaN,0,...,19800.0,New Delhi,en,7000,1716,1407,362,760,NaN,2009-07-08 11:45:02
437,832102826696249346,1487223748,2017-02-16 05:42:28,NablerWA,@carolebozkurt Thanks for the follow. We are t...,low,0.0,NaN,NaN,0,...,19800.0,New Delhi,en,7001,1716,1408,362,760,NaN,2009-07-08 11:45:02
438,832102881079627778,1487223761,2017-02-16 05:42:41,NablerWA,@AliMirza2k Thanks for the follow. We are the ...,low,0.0,NaN,NaN,0,...,19800.0,New Delhi,en,7002,1716,1409,362,760,NaN,2009-07-08 11:45:02
439,832102919780519936,1487223770,2017-02-16 05:42:50,NablerWA,@lisadanforth1 Thanks for the follow. We are t...,low,0.0,NaN,NaN,0,...,19800.0,New Delhi,en,7003,1716,1410,362,760,NaN,2009-07-08 11:45:02
440,832120154708287488,1487227879,2017-02-16 06:51:19,Optizent,Explore A Career in Digital Analytics https://...,low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,13756,996,1323,6,97,NaN,2009-03-13 05:15:28

In [7]:
df_data=pd.DataFrame(data)

In [27]:
df_data.columns

Index(['id', 'time', 'created_at', 'from_user_name', 'text', 'filter_level',
       'possibly_sensitive', 'withheld_copyright', 'withheld_scope',
       'truncated', 'retweet_count', 'favorite_count', 'lang', 'to_user_name',
       'in_reply_to_status_id', 'quoted_status_id', 'source', 'location',
       'lat', 'lng', 'from_user_id', 'from_user_realname',
       'from_user_verified', 'from_user_description', 'from_user_url',
       'from_user_profile_image_url', 'from_user_utcoffset',
       'from_user_timezone', 'from_user_lang', 'from_user_tweetcount',
       'from_user_followercount', 'from_user_friendcount',
       'from_user_favourites_count', 'from_user_listed',
       'from_user_withheld_scope', 'from_user_created_at'],
      dtype='object')

In [11]:
df_filtered=df_data[df_data['from_user_lang']=='en']

In [13]:
df_filtered.describe()

,id,time,possibly_sensitive,withheld_copyright,withheld_scope,truncated,retweet_count,favorite_count,in_reply_to_status_id,quoted_status_id,...,lng,from_user_id,from_user_verified,from_user_utcoffset,from_user_tweetcount,from_user_followercount,from_user_friendcount,from_user_favourites_count,from_user_listed,from_user_withheld_scope
count,3.740000e+02,3.740000e+02,347.000000,0.0,0.0,374.0,374.0,374.0,0.0,0.0,...,8.000000,3.740000e+02,374.000000,300.000000,3.740000e+02,374.000000,374.000000,374.000000,374.000000,0.0
mean,8.299913e+17,1.486720e+09,0.008646,NaN,NaN,0.0,0.0,0.0,NaN,NaN,...,33.280653,7.495103e+16,0.018717,-12606.000000,4.419566e+04,2991.644385,1803.058824,6539.066845,592.868984,NaN
std,9.531119e+14,2.272396e+05,0.092712,NaN,NaN,0.0,0.0,0.0,NaN,NaN,...,97.635795,2.301594e+17,0.135704,19763.297391,1.471662e+05,9759.024845,4163.460982,29453.997459,1104.858875,NaN
min,8.285404e+17,1.486374e+09,0.000000,NaN,NaN,0.0,0.0,0.0,NaN,NaN,...,-97.743057,7.491782e+06,0.000000,-36000.000000,3.000000e+00,1.000000,0.000000,0.000000,0.000000,NaN
25%,8.291933e+17,1.486530e+09,0.000000,NaN,NaN,0.0,0.0,0.0,NaN,NaN,...,-75.840582,2.413248e+07,0.000000,-28800.000000,2.094250e+03,473.000000,227.250000,6.000000,97.000000,NaN
50%,8.298195e+17,1.486679e+09,0.000000,NaN,NaN,0.0,0.0,0.0,NaN,NaN,...,103.867744,1.251947e+08,0.000000,-21600.000000,1.267600e+04,993.000000,1323.000000,34.500000,133.000000,NaN
75%,8.308925e+17,1.486935e+09,0.000000,NaN,NaN,0.0,0.0,0.0,NaN,NaN,...,103.867744,2.479525e+09,0.000000,0.000000,2.483900e+04,2125.000000,1405.750000,482.500000,759.000000,NaN
max,8.321202e+17,1.487228e+09,1.000000,NaN,NaN,0.0,0.0,0.0,NaN,NaN,...,103.867744,8.288964e+17,1.000000,39600.000000,1.777822e+06,150934.000000,56658.000000,244927.000000,8052.000000,NaN

In [28]:
df_filtered[['id','text','from_user_lang']]

,id,text,from_user_lang
2,828540415360004096,RT @Loui_Picard: Manage up with Digital Analyt...,en
3,828540731975401473,RT @jose_garde: Manage up with Digital Analyti...,en
4,828540960443351041,RT @JoanIratxeta: Manage up with Digital Analy...,en
6,828544758989602816,"Senior Digital Analytics Manager - £70,000 (+1...",en
7,828553689140981760,"Senior Digital Analytics Manager - £70,000 (+1...",en
8,828556421822312449,Fractal Analytics is hiring a Principal Consul...,en
9,828559249773060096,Test Your Mettle: Adobe Digital Analytics Comp...,en
10,828565053674749952,RT @Loui_Picard: Manage up with Digital Analyt...,en
11,828565322907131904,RT @jose_garde: Manage up with Digital Analyti...,en
12,828565538926362624,RT @JoanIratxeta: Manage up with Digital Analy...,en
13,828576889560109057,Digital Analytics Speakers Required https://t....,en
17,828619425419030529,Senior Analyst (Digital Analytics) - Rogers Co...,en
18,828623455239036929,Can you recommend anyone for this #job? Senior...,en
22,828655123018633216,Senior Digital Analytics Specialist at Consume...,en
24,828660295165997056,Digital Analytics Weekly Update is out! https:...,en
25,828664538157424641,Wanted: Digital Analytics talents to bring in ...,en
26,828670925893664769,@_robindickinson I think the argument is digit...,en
27,828671243708665857,RT @DeVryCareers: Do you love data and digital...,en
29,828678402936803329,Head of Customer/Digital Analytics #job in #Lo...,en
30,828685452223787008,Explore A Career in Digital Analytics https://...,en
32,828699952360468480,"#measure Senior Analyst, Digital Analytics Job...",en
33,828704074983960578,Digital analytics industry veteran roundup: #w...,en
34,828720830918033408,Digital Analytics Weekly Update is out! https:...,en
35,828732615284891648,5 Marketing blind spots that Digital Analytics...,en
36,828734517179359232,"Digital Analytics Manager in San Francisco, CA...",en
37,828739103135059972,RT @garyangel: I'm doing a last expert-level d...,en
38,828742906643103745,Chart form follows data. Don't choose a format...,en
39,828749693404405760,"#measure Manager, Digital Analytics at MEC, Ne...",en
40,828777463400583172,SEO - Compare 16 leading digital analytics pla...,en
41,828793206263336962,Can you recommend anyone for this #job? Digita...,en
...,...,...,...
402,831406235207471104,Digital Analytics Association Symposium i http...,en
403,831406309589340160,Digital Analytics Association Symposium i http...,en
406,831429796169183233,RT @LEGO_Careers: See our latest #Singapore #j...,en
408,831443383239528451,Manager Digital Analytics Implementation @DowJ...,en
409,831445985909837824,See our latest #Singapore #job and click to ap...,en
410,831448818243739648,Got a burning ❤️ for analytics? Join the Digit...,en
411,831449532244205569,RT @BCCare: Got a burning ❤️ for analytics? Jo...,en
412,831450973117743104,RT @BCCare: Got a burning ❤️ for analytics? Jo...,en
413,831454062558208000,Circus Social partners with e27 for digital an...,en
414,831454251159257088,"Manager, Digital Analytics Implementation, #Es...",en
416,831455690447286272,RT @BCCare: Got a burning ❤️ for analytics? Jo...,en
417,831456209689509888,RT @BCCare: Got a burning ❤️ for analytics? Jo...,en
418,831460982866247681,RT @BCCare: Got a burning ❤️ for analytics? Jo...,en
419,831464316104822784,"Manager, Streaming and Digital Analytics, #Bur...",en
420,831465534734626816,"Manager, Streaming and Digital Analytics, #San...",en
422,831480708610846720,RT @BCCare: Got a burning ❤️ for analytics? Jo...,en
424,831956876845842434,Here for today's #prprofs chat on #fakenews. P...,en
425,831972424484675586,"#measure Manager, Digital Analytics at MEC, Ne...",en
427,831982316461363202,Digital Analytics Weekly Update is out! https:...,en
429,832019329709273088,Digital Analytics Speakers Required https://t....,en
430,832019800943640576,RT @Optizent: Digital Analytics Speakers Requi...,en
432,832031745994264577,Investment is going bigger on #digital analyti...,en
433,832089198802804736,Senior Digital Analytics Specialist at Consume...,en
434,832102708031025152,@DonBurgess_ Thanks for the follow. We are the...,en
435,832102749495926784,@JoyceBosc Thanks for the follow. We are the D...,en
436,832102789190807552,@jan_murray Thanks for the follow. We are the ...,en
437,832102826696249346,@carolebozkurt Thanks for the follow. We are t...,en
438,832102881079627778,@AliMirza2k Thanks for the follow. We are the ...,en
439,832102919780519936,@lisadanforth1 Thanks for the follow. We are t...,en
440,832120154708287488,Explore A Career in Digital Analytics https://...,en

In [23]:
data_pkl=df_filtered.filter(items=['id','text'])

In [25]:
data_pkl.to_pickle('NhungPham_EN.pkl')

**Trial sentiment analysis**

I misread the challenge so I did some search on how to do sentiment analysis. Below is what I tried though they didnt generate right results.

In [31]:
import re

In [40]:
def tweet_sentiment():
    analysis=df_data('text')
    if analysis.sentiment.popularity>0:
        return 'positive'
    elif analysis.sentiment.popularity==0:
        return 'neutral'
    else:
        return 'negative'

In [48]:
tweet=df_data.groupby('text')

In [49]:
ptweets=[tweet for tweet in tweet if tweet_sentiment=='positive']
print('Percentage of positive tweets:', 100*len(ptweets)/len(tweet),'%')

Percentage of positive tweets: 0.0 %

In [50]:
ntweets=[tweet for tweet in tweet if tweet_sentiment=='negative']
print('Percentage of negative tweets:', 100*len(ntweets)/len(tweet),'%')

Percentage of negative tweets: 0.0 %

In [51]:
neutweets=[tweet for tweet in tweet if tweet_sentiment=='neutral']
print('Percentage of neutral tweets:', 100*len(neutweets)/len(tweet),'%')

Percentage of neutral tweets: 0.0 %